<div class="weatherWidget">
  {{#each partials.weatherContext}}
    <div class="location">
      <h3>{{location.name}}</h3>
        <img src="{{iconUrl}}" alt="{{weather}}">
        <p><b> {{weather}}</b></p>
        <p>{{temp}}</p>
    </div>
  {{/each}}
  <small style="margin: auto;">Source: <a href="https://openweathermap.org">OpenWeatherMap</a></small>
</div>
